<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <span th:insert="common/header.html::head"></span>
</head>
<body>

    <span th:insert="common/header.html::header"></span>

    <main>
        <div class="container">
            <nav aria-label="breadcrumb" class="b">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Acceuil</a></li>
                    <li class="breadcrumb-item"><a href="/user/bookings">Mes prêts</a></li>
                </ol>
            </nav>

            <span th:text="${error}"></span>

            <h2 th:text=${bookingFind.bookingId}></h2>

            <div class="row container">
                <div  class="col-sm-8 d-none d-sm-block"><h3>Informations</h3></div>

                <div class="col-sm-4 d-none d-sm-block">
                    <form th:action="@{/user/bookings/}+${bookingFind.bookingId}+@{/extend}">
                        <button class="btn btn-primary x float-right"
                                onclick="return confirm('Êtes-vous sûr ?')">Prolonger le prêt</button>
                    </form>
                </div>
            </div>

            <div class="panel panel-default t">
                <div class="panel-body">
                    <div>
                        <label>Titre du livre :</label>
                        <span th:text="${bookingFind.book.title}"></span>
                    </div>
                    <div>
                        <label>Date de fin :</label>
                        <span th:text="${bookingFind.bookingEndDate}"></span>
                    </div>
                    <div>
                        <label>Statut du prêt : </label>
                        <span th:text="${bookingFind.bookingStatus}"></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 d-block d-sm-none">
                <form th:action="@{/user/bookings/}+${bookingFind.bookingId}+@{/extend}">
                    <button class="btn btn-primary x float-right"
                            onclick="return confirm('Êtes-vous sûr ?')">Faire un prêt</button>
                </form>
            </div>
        </div>
    </main>
    <span th:insert="common/footer.html"></span>
</body>
</html>