<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <span th:insert="common/header.html::head"></span>
</head>
<body>

    <span th:insert="common/header.html::header"></span>

    <main>
        <div class="container mt-3">
            <nav aria-label="breadcrumb" class="b">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Acceuil</a></li>
                    <li class="breadcrumb-item"><a href="/user/bookings">Mes prêts</a></li>
                </ol>
            </nav>

            <div><span th:text="${error}"></span></div>

            <h2>Prêt n°<span th:text=${bookingFind.bookingId}></span></h2>

            <div class="row container mt-4 pr-0 pl-0">
                <div  class="col-sm-8 d-none d-sm-block"><h3>Informations</h3></div>

                <div class="col-sm-4 d-none d-sm-block align-self-center">
                    <form th:action="@{/user/bookings/}+${bookingFind.bookingId}+@{/extend}">
                        <button class="btn btn-primary x float-right"
                                onclick="return confirm('Êtes-vous sûr ?')">Prolonger le prêt</button>
                    </form>
                </div>
            </div>

            <div class="panel panel-default t">
                <div class="panel-body">
                    <div>
                        <label>Titre du livre :</label>
                        <span th:text="${bookingFind.book.title}"></span>
                    </div>
                    <div>
                        <label>Statut du prêt : </label>
                        <span th:text="${bookingFind.bookingStatus}"></span>
                    </div>
                    <div>
                        <label>Date de début :</label>
                        <span th:text="${#dates.format(bookingFind.bookingStartDate,'dd MMM yyyy')}"></span>
                    </div>
                    <div>
                        <label>Date de fin :</label>
                        <span th:text="${#dates.format(bookingFind.bookingEndDate,'dd MMM yyyy')}"></span>
                    </div>
                    <div>
                        <label>Date de retour :</label>
                        <span th:text="${#dates.format(bookingFind.backBookDate,'dd MMM yyyy')}"></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 d-block d-sm-none">
                <form th:action="@{/user/bookings/}+${bookingFind.bookingId}+@{/extend}">
                    <button class="btn btn-primary x float-right"
                            onclick="return confirm('Êtes-vous sûr ?')">Prolonger le prêt</button>
                </form>
            </div>
        </div>
    </main>
    <span th:insert="common/footer.html"></span>
</body>
</html>