<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-8 footer-links">
                <h3 style="font-family: Montserrat">Biblio</h3>
                <h5>L'app des bibliothéques de Big City</h5>
                <ul>
                    <li>
                        <a href="#">Aide</a>
                    </li>
                    <li>
                        <a href="#">Nous contacter</a>
                    </li>
                    <li>
                        <a href="#">Conditions d'utilisation</a>
                    </li>
                    <li>
                        <a href="#">Politique de confidentialité</a>
                    </li>
                    <li>
                        <a href="#">Notre mission</a>
                    </li>
                </ul>
            </div>  
            <div class="col-sm-4 logo-footer">
                <img src="/img/logo.png" height="100" width="200" title="Biblio" alt="Biblio"/>
                <div class="copyright">Bibliothéque de Big City &copy; 2020</div>
            </div>

        </div>
    </div>
</footer>
<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src='/webjars/bootstrap/4.5.0/js/bootstrap.js'></script>
