<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <span th:insert="/common/header.html::head"></span>
</head>
<body>

    <span th:insert="/common/header.html::header"></span>

    <main>
        <div class="container mt-3">
            <nav aria-label="breadcrumb" class="b">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Acceuil</a></li>
                    <li class="breadcrumb-item active">Les livres</li>
                </ol>
            </nav>

            <div class="row container">

                <span th:text="${error}"></span>

                <div class="mx-auto" th:insert="/book/multisearch.html::form">
                </div>
            </div>

            <div class="table-responsive mt-1">
                <table class="table table-striped">
                    <tr>
                        <th>Isbn</th>
                        <th>Auteur</th>
                        <th>Titre</th>
                        <th>Catégorie</th>
                        <th class="d-none d-sm-block">Quantité</th>
                    </tr>

                    <tr th:each="b:${bookPage.content}">
                        <td><a th:href="@{/user/books/}+${b.isbn}" td th:text="${b.isbn}"/></td>
                        <td th:text="${b.author}"></td>
                        <td th:text="${b.title}"></td>
                        <td th:text="${b.bookCategory.label}"></td>
                        <td class="d-none d-sm-block" th:text="${b.copiesAvailable}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="container">
            <nav class="nav nav-pills" th:if="${bookPage.totalPages > 0}">
                <li th:each="pageNumber : ${pageNumbers}">
                    <a class="btn btn-outline-danger btn-sm mr-1" th:href="@{/user/books?page=}+${pageNumber}+@{&size=}+${size}"
                       th:text=${pageNumber}></a>
                </li>
            </nav>
        </div>
    </main>
    <span th:insert="/common/footer.html"></span>
</body>
</html>
