<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <span th:insert="/common/header.html::head"></span>
</head>
<body>

    <span th:insert="/common/header.html::header"></span>

    <main>
        <div class="container">
            <nav aria-label="breadcrumb" class="b">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Acceuil</a></li>
                    <li class="breadcrumb-item active">Les livres</li>
                </ol>
            </nav>

            <div class="row container">

                <span th:text="${error}"></span>

                <div th:insert="/book/multisearch.html::form">
                </div>
            </div>


            <table class="table table-striped mt-10">
                <tr>
                    <th>Isbn</th>
                    <th>Auteur</th>
                    <th>Titre</th>
                    <th class="hidden-xs">Catégorie</th>
                </tr>

                <tr th:each="b:${books}">

                    <td><a th:href="@{/user/books/}+${b.isbn}" td th:text="${b.isbn}"/></td>
                    <td th:text="${b.author}"></td>
                    <td th:text="${b.title}"></td>
                    <td th:text="${b.bookCategory.label}"></td>
                </tr>
            </table>
        </div>

        <div class="container">
            <ul class="nav nav-pills">

                <li th:each="page, status :${books}">

                    <a th:href="@{/user/books?page=}+${status.index}+@{&size=}+${size}">

                       <span th:if="${status.first == status.last}"></span>
                        <span th:unless="${status.first == status.last}"
                              th:text="${status.index}">

                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </main>
    <span th:insert="/common/footer.html"></span>
</body>
</html>
