<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>
    
    <Appenders>
        <!-- RollingFile Appender -->
        <RollingFile name ="ROLLINGFILE" fileName="${basePath}/logfile.log" filePattern="${basePath}/logfile.%i.log.gz">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size ="100 KB"/>
            </Policies> 
        </RollingFile> 
        
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ROLLINGFILE" />
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>

</Configuration>