/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mars 2020, 09:31:31
    Author     : nicolasdotnet
*/


.border{
    
    border: 2px solid;
    
}
main{

    height: 650px;
    
}

nav{
    padding-bottom: 10px;
    
}

.t{
    
    margin-top: 20px;
    
}

@media (min-width: 768px) {

.p{
    
    padding :15px;
    
}

main{

    height: 800px;
    
}

.t{
    
    margin-top: 0px;
    
}


}

h3{
    
    padding-top: 10px;
    
}

.navbar-default {
  background-color: #ea222d;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ea222d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #c0392b;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

.error {

    color: red;

}

a{
    
    color: #ea222d;
    
}

.msg{

    color: green;

}

.username{

    color: white;

}

.x{
    margin-left: 5px;
    display:inline-block;
}

.vcenter {
    display: flex;
    align-items: center;
}

.multisearch{
    
      padding: 0px;
    
}

.b{
    
    margin-bottom: 50px;
    
}

.w{
    
margin-top: 27px;
   
    
    
}


/* INDEX */


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.block {
    padding: 50px 0;
}

h2 {
    /*font-family: 'bebasregular';*/
    font-size: 36px;
    color: #ea222d;
    /*text-align: center;*/
}

.element a {
    color: #ea222d;
    text-decoration: none;
    border: 2px solid #ea222d;
    border-radius: 5px;
    padding: 5px 10px;
}

.clearfix {
    clear: both;
}

/* PRESENTATION */

#presentation .container {
    padding: 100px 10px;
}

h2, #presentation p {
    display: inline-block;
    box-shadow: 0px 10px 30px #555;
    padding: 10px;
    margin: 0;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
    background-color: white;
    color: #ea222d;
}

#presentation p {
    font-size: 24px;
    background-color: #ea222d;
    color: white;
}

/* SPOTS */
#characters .element {
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center;
}

/* FOOTER */
footer {
    background-color: #ea222d;
    color: white;
    margin-top: 300px;
}

footer a {
    
    color: #ffbbbc;
}

.logo-footer{
    
    margin-top: 30px;
    
}
