<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    <span th:insert="/common/header.html::head"></span>
</head>
<body>

    <span th:insert="/common/header.html::header"></span>

    <main>
        <div class="block" id="presentation">
            <div class="container">
                <h2>Bienvenue dans les bibliothéques de Big city</h2>
                <p>Connectez vous à la culture !</p>
            </div>
        </div>
    </main>
    <span th:insert="/common/footer.html"></span>
</body>
</html>
